*.fxao linguist-language=GLSL
*.fxmo linguist-language=GLSL
*.fxwg linguist-language=GLSL
*.fx linguist-language=HLSL
*.fxc linguist-language=HLSL
*.hlsl linguist-language=HLSL
*.fxasm linguist-language=Assembly
*.xml linguist-language=XML linguist-detectable=true
