*.fxao linguist-language=GLSL
*.fxmo linguist-language=GLSL
*.fxwg linguist-language=GLSL
*.fx linguist-language=HLSL
*.fxc linguist-language=HLSL
*.hlsl linguist-language=HLSL
*.fxasm linguist-language=Assembly
*.fxme linguist-language=Metal 
*.xml linguist-detectable
